/*css reset*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0 auto;
}

/*--------------------*/


body {
  font-family: 'Bad Script', cursive, sans-serif;
  background: rgb(220, 241, 122);
  background: linear-gradient(180deg, rgb(248, 169, 169) 2%, rgb(238, 253, 177) 100%, rgb(155, 175, 241) 100%);
}


.todoshka {
  width: 50%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  
}

.main-heading {
  font-size: 60px;
  color: white;
}

.input { 
  background-color: transparent;
  
}

.input::placeholder {
  font-size: 20px;
}

.add-task {
 background: transparent;
 border-top: 2px solid grey;
 width: 20px;
 transform: rotate(90deg);
 position: relative;
 margin-left: auto;
}

.add-task::after {
  content: '';
  border-top: 2px solid grey;
  width: 20px;
  transform: rotate(-90deg);
  right: auto;
  background: transparent;
  position: absolute;
  top: -2px;
  
}

.todo-header {
  width: 100%;
  padding: 30px 30px;

}

.todo-input {
  width: 100%;
  padding: 25px 25px;
  background-color: rgb(241, 241, 241);
  display: flex;
}
.todo-list {
  width: 100%;
  background-color: rgb(241, 241, 241);
  margin: 10px 0;
  text-align: left;
}
.button-list {
  width: 100%;
  display: flex;
  font-size: 17px;
  padding-top: 5px;
  padding-bottom: 5px;
  

}
.save-button {
  width: 30%;
  border: 1px solid blue; 
  padding: 17px 17px;
  margin-left: auto;
  margin-right: auto;
}
.save-button:hover {
  background-color: lightgreen;
}
.clear-list-button {
  width: 30%;
  border: 1px solid blue; 
  padding: 17px 17px;
  margin-left: auto;
  margin-right: auto;
}
.clear-list-button:hover {
  background-color: lightcoral;
}
.delete-completed-tasks-button {
  width: 30%;
  border: 1px solid royalblue; 
  padding: 17px 17px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: top 1s ease-out 0.5s;
  -moz-transition: top 1s ease-out 0.5s;
  -o-transition: top 1s ease-out 0.5s;
  transition: top 1s ease-out 0.5s;
}
.delete-completed-tasks-button:hover {
  background-color: lightblue;
}
.task {
  height: 28px;
  padding-top: 7px;
  font-size: 17px;
  padding-left: 4px;
  border: 0.5px dotted royalblue;
}